* {
    margin: 0; 
    padding: 0;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    overflow-x: hidden;

    background: radial-gradient(circle, rgba(0,22,43,1) 0%, rgba(116,13,61,1) 100%);

    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    /* width: 100%; */
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    margin-top: 40px;
}

h1 {
    font-size: 2.2em;
    margin: 0.67em 0;
    font-family: 'Fredoka One', cursive;

    text-align: center;
    /* color: rgba(116,13,61,1); */
    color: #78455B;
}

button {
    padding: 10px 15px;
    margin-top: 20px;

    cursor: pointer;
    border: 0;
    border-radius: 15px;
    background: #db0a40;
    color: white;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*? RESPONSIVE DESIGN*/

/*TODO: Entre 320px y 374px */
@media screen and (min-width: 320px) and (max-width: 374px) {

    .container {
        justify-content: space-evenly;
        flex-direction: column;

        margin-top: 20px;
    }

    .container > img {
        width: 250px;
        height: 250px;
    }

    .video {
        margin-top: 50px;
        width: 300px;
        height: 300px;
    }

    .movie {
        width: 100%;
    }

    button {
        padding: 8px 12px;
        font-size: 16px;
    }

}

/*TODO: Entre 375px y 424px */
@media screen and (min-width: 375px) and (max-width: 424px) {

    .container {
        justify-content: space-evenly;
        flex-direction: column;

        margin-top: 20px;
    }

    .container > img {
        width: 250px;
        height: 250px;
    }

    .video {
        margin-top: 50px;
        width: 350px;
        height: 300px;
    }

    .movie {
        width: 100%;
    }

    button {
        padding: 10px 15px;
        font-size: 18px;
    }

}

/*TODO: Entre 425px y 578px */
@media screen and (min-width: 425px) and (max-width: 578px) {

    .container {
        justify-content: space-evenly;
        flex-direction: column;

        margin-top: 20px;
    }

    .container > img {
        width: 300px;
        height: 300px;
    }

    .video {
        margin-top: 50px;
        width: 400px;
        height: 300px;
    }

    .movie {
        width: 100%;
    }

    button {
        padding: 12px 20px;
        font-size: 20px;
    }

}

/*TODO: Entre 579px y 767px */
@media screen and (min-width: 579px) and (max-width: 767px) {

    .container {
        justify-content: space-evenly;
        flex-direction: column;

        margin-top: 20px;
    }

    .container > img {
        width: 400px;
        height: 400px;
    }

    .video {
        margin-top: 50px;
        width: 500px;
        height: 300px;
    }

    .movie {
        width: 100%;
    }

    button {
        padding: 15px 20px;
        font-size: 20px;
    }

}

/*TODO: Entre 768px y 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    .container {
        justify-content: space-evenly;
        flex-direction: column;

        margin-top: 20px;
    }

    .container > img {
        width: 400px;
        height: 400px;
    }

    .video {
        margin-top: 50px;
        width: 600px;
        height: 300px;
    }

    .movie {
        width: 100%;
    }

    button {
        padding: 15px 20px;
        font-size: 20px;
    }

}

/*TODO: Entre 1024px y 1040px */
@media screen and (min-width: 1024px) and (max-width: 1439px) {

    .container {
        justify-content: space-evenly;
    }

    .container > img {
        width: 350px;
        height: 350px;
    }

    .video {
        width: 500px;
        height: 320px;
    }

    .movie {
        width: 100%;
    }

}